{% extends 'base.html.twig' %}

{% block title %}Votre Panier{% endblock %}

{% block body %}

    <main class="container mt-5">
    
        <h1>Votre panier</h1>
        <div class="underline_title mb-4"></div>

        {% if items | length > 0 %}

            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Produit</th>
                        <th></th>
                        <th>Quantité</th>
                        <th>SubTotal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>
                                <a href="{{ path('product_show', {'id':item.product.id, 'slug':item.product.slug, 'category':item.product.category.slug}) }}">
                                    <img src="{{asset('uploads/images/') ~ item.product.picture }}" alt="" class="admin__main_picture">
                                </a>
                            </td>
                            <td>
                                {{ item.product.name }}</br>
                                Taille: {{ item.size }}</br>
                                {{ item.product.price }}€
                            </td>
                            <td>
                                <a href="{{ path('cart_decrement', {'id':item.product.id, 'size':item.size}) }}" class="btn btn-sm btn-info"><i class="fas fa-minus"></i></a>
                                {{ item.qty }}
                                <a href="{{ path('cart_add', {'id':item.product.id, 'size':item.size}) }}" class="btn btn-sm btn-info"><i class="fas fa-plus"></i></a>
                            
                            </td>
                            <td>{{ (item.qty * item.product.price) |number_format(2) }}€</td>
                            <td>
                                <a href="{{ path('cart_delete', {'id':item.product.id, 'size':item.size}) }}"><i class="fa-solid fa-xmark fa-xl"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td>Total :</td>
                        <td>{{ total |number_format(2) }}€</td>
                    </tr>
                </tfoot>
            
            </table>

            <div class="mt-4 mb-5">
                <div class="d-flex">
                    <i class="fa-brands fa-apple-pay fa-2xl me-3"></i>
                    <i class="fa-brands fa-cc-paypal fa-2xl me-3"></i>
                    <i class="fa-brands fa-cc-visa fa-2xl me-3"></i>
                    <i class="fa-brands fa-cc-amex fa-2xl"></i>
                </div>
                <div class="mt-4">
                    <p>Livraison offerte dès 59€ d'achat en France Métropolitaine</p>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    <a href="{{ path('home_index') }}" class="btn btn-dark">
                        <i class="fa-solid fa-arrow-left me-3"></i>
                        Continuer vos achats
                    </a>
                </div>
                <div class="">
                    <a href="{{ path('purchase_confirm') }}" class="btn btn-warning">Acheter</a>
                </div>
            </div>
        
        {% else %}
            <h2 class="fs-4">Le panier est vide !</h2>

        {% endif %}

    </main>

{% endblock %}
