{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="container container__tablette mt-5">
        <div class="security__login">
            <div class="security__login_content">
                <img src="{{ asset('./Assets/img/login.jpg') }}" alt="photo de salle de sport" class="opacity-75 pic__login">
            </div>
            <div class="col col-md-6 col-lg-6 p-5">
                <h1 class="fs-3 text-center ">Se connecter à mon compte EvolutionFit</h1>
                <div class="underline_long w-auto"></div>
                <h2 class="fs-6 mt-5 mb-4 text-center ">Veuillez indiquer votre e-mail et mot de passe</h2>

                {% if error %}
                    <div class="alert alert-danger"> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}

                {{ form_errors(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}
                
                <div class="text-end">
                    <a href="{{ path('security_forget_password') }}" class="mb-5 d-inline-block">Mot de passe oublié?</a>
                </div>

                <div class="text-center mb-4">
                    <button type="submit" class="btn__back btn__style">Connexion</button>
                </div>

                {{ form_end(form) }}
                
                <p class="text-center mb-1">Pas encore de compte ? </p>
                <a href="{{ path('security_registration') }}" class="d-block text-warning text-center fw-bold text-uppercase">En créer un maintenant !</a>
                
            </div>
        </div>
    </div>

    
{% endblock %}
