{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div class="container container__tablette mt-5">
        <div class="security__registration">
            <div class="">
                <img src="{{ asset('./Assets/img/registration.jpg') }}" alt="photo d'un tunnel" class="opacity-75 pic__register">
            </div>
            <div class="col col-md-6 col-lg-6 p-4">
                <h1 class="fs-3 text-center ">Créer votre compte EvolutionFit</h1>
                <div class="underline_long w-auto"></div>
                <h2 class="fs-6 mt-5 mb-4 text-center ">Veuillez saisir vos coordonnées</h2>

                {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}

                {{ form_errors(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.plainPassword) }}
                {{ form_row(form.newsletter) }}
                {{ form_row(form.agreeTerms) }}
                


                <div class="text-center my-5">
                    <button type="submit" class="btn__back btn__style">S'inscrire</button>
                </div>

                {{ form_end(form) }}

                <p class="text-center mb-1">Déjà inscrit ?</p>
                <a href="{{ path('security_login') }}" class="d-block text-warning text-center fw-bold text-uppercase">Connectez-vous !</a>
            
            </div>
        </div>
    </div>

    
{% endblock %}
