{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}

    <div class="container container__tablette mt-5">
        <div class="row">
            <div class="col col-md-6 col-lg-6">
                <img src="{{ asset('./Assets/img/login.jpg') }}" alt="photo de salle de sport" class="opacity-75 pic__login">
            </div>
            <div class="col col-md-6 col-lg-6 p-5">
                <h1 class="fs-3 text-center ">Réinitialiser le mot de passe</h1>
                <div class="underline_long mb-5 w-auto"></div>

                {# {% if error %}
                    <div class="alert alert-danger"> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %} #}
                {{ form_start(formReset, {'attr': {novalidate: 'novalidate'}}) }}

                {{ form_errors(formReset) }}
                {{ form_row(formReset.email) }}

                <p class="mb-5">Nous allons vous envoyer un email pour réinitialiser votre mot de passe !</p>

                <div class="text-center mb-5">
                    <button type="submit" class="btn__back">Envoyer</button>
                </div>

                {{ form_end(formReset) }}
                
                <p>ou 
                    <a href="{{ path('security_login') }}" class="btn__shop">Annuler</a>
                </p>

            </div>
        </div>
    </div>

    
{% endblock %}
