{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <img src="./assets/img/login.jpg" alt="" width="650px" height="750px" class="opacity-75">
            </div>
            <div class="col-5 p-5">
                <h1 class="fs-3 text-center ">Réinitialiser le mot de passe</h1>
                <div class="underline_long mb-5"></div>

                {# {% if error %}
                    <div class="alert alert-danger"> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %} #}
                {{ form_start(formReset, {'attr': {novalidate: 'novalidate'}}) }}

                {{ form_errors(formReset) }}
                {{ form_row(formReset.email) }}

                <p class="mb-5">Nous allons vous envoyer un email pour réinitialiser le mot de passe</p>

                <div class="text-center mb-4">
                    <button type="submit" class="btn btn-danger">Envoyer</button>
                </div>

                {{ form_end(formReset) }}
                
                <p>ou 
                    <a href="{{ path('security_login') }}">Annuler</a>
                </p>

            </div>
        </div>
    </div>

    
{% endblock %}
