<aside class="col-3 p-5 admin__aside">
    <h1 class="fs-2 mb-5 ">Dashboard</h1>
    <div class="d-flex mb-4">
        <i class="fa-solid fa-shop"></i>
        <a href="{{ path('admin_product') }}" class="fs-5 ms-3 text-decoration-none">Produits</a>
    </div>
    <div class="d-flex mb-4">
        <i class="fa-solid fa-list"></i>
        <a href="{{ path('admin_category') }}" class="fs-5 ms-3 text-decoration-none">Catégories</a>
    </div>
    <div class="d-flex mb-4">
        <i class="fa-solid fa-message"></i>
        <a href="{{ path('admin_product') }}" class="fs-5 ms-3 text-decoration-none">Messages</a>
    </div>
    <div class="d-flex mb-4">
        <i class="fa-solid fa-users"></i>
        <a href="{{ path('admin_product') }}" class="fs-5 ms-3 text-decoration-none">Clients</a>
    </div>
    <div class="d-flex mb-4">
        <i class="fa-solid fa-bookmark"></i>
        <a href="{{ path('admin_product') }}" class="fs-5 ms-3 text-decoration-none">Commandes</a>
    </div>
    <div class="d-flex mb-4">
        <i class="fa-solid fa-right-from-bracket"></i>
        <a href="{{ path('security_logout') }}" class="fs-5 ms-3 text-decoration-none">Déconnexion</a>
    </div>
</aside>
