{% extends 'base.html.twig' %}

{% block title %}Gestion des stocks{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">

            {% include 'admin/_navDashboard.html.twig' %}
            
            <main class="col-9 p-5 admin__main">
                <div class="d-flex justify-content-between">
                    <h1>Produits</h1>
                    <a href="{{ path('admin_product_create') }}" class="btn btn-outline-success">
                        <i class="fa-regular fa-plus"></i>
                    Ajouter un produit
                    </a>
                </div>

                {# TABLES #}

                <table class="table table-striped mt-5 bg-white">
                    <thead class="table-dark ">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nom</th>
                            <th scope="col" colspan="2">Image</th>
                            <th scope="col" >Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in products %}
                        <tr>
                            <th scope="row">{{ p.id }}</th>
                            <td>{{ p.name }}</td>
                            <td colspan="2">
                                <a href="{{ path('product_show', {'category':p.category.name, 'slug':p.slug}) }}">
                                    <img src="{{ asset('uploads/images/') ~ p.picture }}" alt="{{ p.name }}" class="admin__main_picture">
                                </a>
                            </td>
                            <td>
                                {% if p.active %}
                                    <a href="{{ path('admin_product_update', {'id':p.id}) }}" class="btn btn-success p-1 border rounded-2" id="btn_e">Editer</a>
                                    <a href="{{ path('admin_active_product', {'id':p.id}) }}" class="btn btn-info p-1 border rounded-2" id="btn_d">Désactiver</a>
                                    <a href="{{ path('admin_product_delete', {'id':p.id}) }}" class="btn btn-danger p-1 border rounded-2" id="btn_s">Supprimer</a>
                                {% else %}
                                    <a href="{{ path('admin_product_update', {'id':p.id}) }}" class="btn btn-success disabled p-1 border rounded-2" id="btn_e">Editer</a>
                                    <a href="{{ path('admin_active_product', {'id':p.id}) }}" class="btn btn-info p-1 border rounded-2" id="btn_d">Activer</a>
                                    <a href="{{ path('admin_product_delete', {'id':p.id}) }}" class="btn btn-danger disabled p-1 border rounded-2" id="btn_s">Supprimer</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </main>
        </div>
    </div>
    

{% endblock %}

