{% extends 'base.html.twig' %}

{% block title %}
    Catégorie: {{ category.name }}
{% endblock %}

{% block body %}

    <div class="container mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home_index') }}">Accueil</a></li>
            <li class="breadcrumb-item active">{{ category.name }}</li>
        </ol>
    </div>

    <header class="container d-flex justify-content-between mt-5">
        <div class="">
            <h1>Catalogue {{ category.name }}</h1>
            <div class="underline_title"></div>
        </div>
        <a href="" class="">
            <i class="fa-solid fa-sort-down"></i>
        </a>
    </header>

    <main class="container">
        <div class="count">
            <h2 class="fs-5 my-4">Articles ({{ category.products | length }})</h2>
        </div>
        <div class="row">
            {% for p in products %}
                <div class="col-3">
                    {% include 'product/_product_card.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </main>
    {# PAGINATION #}
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(products) }}
    </div>

{% endblock %}