{% extends 'base.html.twig' %}

{% block title %}Création d'un nouveau produit{% endblock %}

{% block body %}

<div class="container mt-5 p-3">
    <h1>Ajouter un nouveau produit</h1>
    <div class="underline_title text-center mb-5"></div>
        {{form_start(form)}}
        {{form_errors(form)}}
            <div class="row">   
                <div class="col">   
                    {{form_row(form.name)}}
                    {{form_row(form.description)}}
                    {{form_row(form.price)}}
                </div> 
                <div class="col">   
                    {{form_row(form.picture)}}
                    {{form_row(form.size)}}
                    {{form_row(form.category)}}
                    {{form_row(form.status)}}
                </div> 
            </div>
        <button type="submit" class="btn btn-success mt-5">
            <i class="fas fa-save"></i>
            Ajouter
        </button>

        {{form_end(form)}}
    
</div>

{% endblock %}
