{% extends "base.html.twig" %}

{% block title %}
    Contactez-nous
{% endblock %}

{% block body %}
    <main class="container m-auto p-0 w-75 mt-5 mb-3">
        <h1 class="mb-4">Service client - Contactez-nous</h1>
            <div class="">
                {{ form_start(formContact) }}

                {{ form_row(formContact.name) }}
                {{ form_row(formContact.email) }}
                {{ form_row(formContact.subject) }}
                {{ form_row(formContact.purchase) }}
                {{ form_row(formContact.message) }}

                <button type="submit" class="btn__back btn__style d-inline-block w-100 mt-4">Envoyer</button>

                {{ form_end(formContact) }}
            </div>
    </main>


{% endblock %}