<nav class="navbar navbar-expand-lg navbar-light bg-light p-1">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ path('home_index') }}">
            <img src="../../../assets/img/logotype.png" class="navbar__logo"/>
        </a>
        <form class="d-flex me-5" role="search">
            <input class="me-2 nav__searchbar" type="search" aria-label="Search">
            <button class="btn btn-light me-5" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                {% for c in categoryRepository.findAll() %}
                <li class="nav-item">
                    <a class="nav-link nav-active" 
                        href="{{ path('product_category', {'id': c.id, 'slug':c.slug}) }}">{{ c.name }}
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                {% endfor %}

                <li class="nav-item navbar__shop">
                    <a class="nav-link" href="{{ path('security_login') }}" title="mon compte">
                        <i class="fa-regular fa-user fa-xl"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('cart_show') }}" title="panier">
                        <i class="fa-sharp fa-solid fa-bag-shopping fa-xl"></i>
                        ({{ cartService.getDetailedCartItems | length }})
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_product') }}" title="dashboard">
                        <i class="fa-solid fa-house fa-xl"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

