<nav class="navbar navbar-expand-lg navbar-light p-0 nav__position">
    <div class="container-fluid ">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ path('home_index') }}">
            <img src="../../../assets/img/logotype.png" class="navbar__logo"/>
        </a>

        {# Rendu du formulaire de recherche #}
        <div class="navbar__form">
            {{ 
                render(controller('App\\Controller\\SearchController::searchbar')) 
            }}
        </div>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav d-flex align-items-center">
                {% for c in categoryRepository.findAll() %}
                <li class="nav-item">
                    <a class="nav-link nav-active" 
                        href="{{ path('product_category', {'id': c.id, 'slug':c.slug}) }}">{{ c.name }}
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                {% endfor %}
                
                <li class="nav-item navbar__position_icon">
                    {% if app.user %}
                        <a class="nav-link" href="{{ path('profil_account') }}" title="mon compte">
                            <i class="fa-regular fa-user fa-xl"></i>
                            <p>{{ app.user.firstname }}</p>
                        </a>
                    {% else %}    
                        <a class="nav-link" href="{{ path('security_login') }}" title="mon compte">
                            <i class="fa-regular fa-user fa-xl"></i>
                            
                        </a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('cart_show') }}" title="panier">
                        <span class="navbar__shop_number">
                            {{ cartService.getDetailedCartItems | length }}
                        </span>
                        <i class="fa-sharp fa-solid fa-bag-shopping fa-xl"></i>
                    </a>
                </li>
                
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_product') }}" title="dashboard">
                        <i class="fa-solid fa-house fa-xl"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

